body {
    background-color: black;   
}
.background {
    background-position: center;
    height: 90vh;
    width: 100vw;
    background-size: cover ;
    background-repeat: no-repeat;
    margin: -10px;
}

.shade {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}

.logo {
    width:  170px;
    margin-left: 140px;
    margin-top: -10px;
}

.header-button {
    display: inline;
    justify-content: center;
    align-items: center;
}

.lang{
    background-color: transparent;
    color: white;
    border: 1px solid rgb( 149, 149, 149);
    padding: 7px;
    font-family: 'Arial';
    border-radius: 5px;
    font-size: 15px;
    width: 130px;
    cursor: pointer;
}

.sign-in{
    background-color: red;
    color: white;
    border: solid red;
    padding: 7px;
    font-family: 'Arial';
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
    width: 75px;
    cursor: pointer;
}

.body-content {
    color: white;
    font-family: 'Arial';
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
}

.main-heading {
    font-size: 55px;
    margin-bottom: 20px;
    font-family: 'Arial Black';
    cursor: default;
}

.sub-heading {
    font-size: 22px;
    cursor: default;
}

.info-text {
    font-family: 'Arial';
    margin-top: 40px;
    cursor: default;
}

.email-signup {
    display: inline;
    justify-content:center;
    align-items: center;

}

.email-input {
    padding: 17px;
    width: 350px;
    border: 1px solid rgb(149, 149, 149);
    border-radius: 5px;
    margin-right: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 18px;
}

.submit {
    padding: 12px;
    font-size: 25px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor:pointer;
} 

.poster-line {
    display:flex;
    flex-direction: row;
    max-width:79vw;
    margin-top: 25px;
    overflow-x:auto;
    overflow-y: hidden;
    scroll-behavior:smooth;
    scroll-snap-type: x mandatory;
}

.poster1 {
    border-radius: 15px;
    background-image: url(../public/images/war2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster2 {
    border-radius: 15px;
    background-image: url(../public/images/bads.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster3 {
    border-radius: 15px;
    background-image: url(../public/images/saiyaara.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster4 {
    border-radius: 15px;
    background-image: url(../public/images/wed2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster5 {
    border-radius: 15px;
    background-image: url(../public/images/aib3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster6 {
    border-radius: 15px;
    background-image: url(../public/images/og.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster7 {
    border-radius: 15px;
    background-image: url(../public/images/raid2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster8 {
    border-radius: 15px;
    background-image: url(../public/images/animal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster9 {
    border-radius: 15px;
    background-image: url(../public/images/f1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster10 {
    border-radius: 15px;
    background-image: url(../public/images/kpop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width: 220px;
    min-width: 220px;
    margin-right: 20px;
    scroll-snap-align:end;
    font-size: 52px;
    color: rgb(240, 27, 27);
    text-shadow: 2px 5px 5px rgb(254, 254, 254);
    padding-left: 5px;
    cursor: pointer;
}

.poster-pic {
    background-size: cover;
    background-repeat: no-repeat;
}

.reason-content {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 79vw;
    margin-left: -15px;
}

.reason-cards {
    border-radius: 15px;
    background:linear-gradient(320deg, rgba(255,20,147,0.2), rgba(13, 109, 204, 0.3));
    margin-left: 15px;
    height: 300px;
    font-family: 'Arial';
    margin-top: 15px;
    cursor:default;
}

.card-header {
    padding: 10px;
    font-size: 22px;
    margin-top: 20px;
    margin-right: 20px;
}

.card-body {
    color: rgb(178, 173, 173);
    font-size: 18px;
    padding: 10px;
    font-weight: lighter;
}

.trend, .reason, .FAQ {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 70px;
    font-family: 'Arial';
    margin-bottom: 10px;
}

.FAQ-header {
    color: white;
    margin-left: 150px;
    background-color: rgb( 45, 45, 45);
    padding: 30px;
    margin-top: 7px;
    font-size: 25px;
    font-family: 'Arial';
    width: 75vw;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FAQ-content {
    color: white;
    margin-left: 150px;
    background-color: rgb(45, 45, 45);
    padding: 25px;
    margin-top: 2px;
    font-size: 25px;
    font-family: 'Arial';
    width: 75vw;
    justify-content: center;
    text-align: justify;
}

.info-bottom {
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    text-align: center;
    margin-top: 75px;
}

.bottom-email-input {
    padding: 15px;
    width: 550px;
    border: 1px solid rgb(149, 149, 149);
    border-radius: 5px;
    margin-right: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 18px;
}

.questions {
    font-size: 15px;
    text-align: left;
    color: rgb(149, 149, 149);
    margin-left: 150px;
    margin-top: 75px;
}

.questions a:link {
    color: rgb( 149, 149, 149);
}

.questions a:active {
    color: red;
}

.questions a:visited {
    color: rgb( 149, 149, 149);
}

.footer-links {
    font-size: 15px;
    text-align: left;
    color: rgb(149, 149, 149);
    margin-left: 150px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    justify-content: space-evenly;
    width: 80vw;
}

.footer-content {
    cursor: pointer;
}

.footer-content a:link {
    color:rgb( 149, 149, 149);
}

.footer-content a:visited {
    color: rgb( 149, 149, 149);
}

.footer-content a:active {
    color: red;
}

.footer-button {
    margin-left: 150px;
    text-align: left;
    margin-top: 70px;
}

.netflix-india {
    font-size: 15px;
    text-align: left;
    color: rgb(149, 149, 149);
    margin-left: 150px;
    margin-top: 40px;
    cursor: default;
}

.protection {
    font-size: 13px;
    text-align: left;
    color: rgb(149, 149, 149);
    margin-left: 150px;
    margin-top: 40px;
    padding-bottom: 150px;
    cursor: default;
}